@import "tailwindcss";

@theme {
  --color-primary: #061b0e;
  --color-primary-container: #1b3022;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #819986;
  --color-primary-fixed-dim: #b4cdb8;

  --color-secondary: #944925;
  --color-secondary-container: #fe9e72;
  --color-on-secondary: #ffffff;
  --color-on-secondary-container: #773310;

  --color-tertiary: #171818;

  --color-background: #fbf9f4;
  --color-surface: #fbf9f4;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f5f3ee;
  --color-surface-container: #f0eee9;
  --color-surface-container-high: #eae8e3;
  --color-surface-container-highest: #e4e2dd;

  --color-on-surface: #1b1c19;
  --color-on-surface-variant: #434843;

  --color-outline: #737973;
  --color-outline-variant: #c3c8c1;

  --color-error: #ba1a1a;

  --font-serif: "EB Garamond", serif;
  --font-sans: "Manrope", sans-serif;

  --spacing-margin-desktop: 64px;
  --spacing-margin-mobile: 20px;
  --spacing-gutter: 24px;
}

body {
  background: var(--color-background);
  color: var(--color-on-surface);
}
